.blue-text{
    color: blue;
}

body{
    background-color: chartreuse;
}
*{
    margin: 0px;
    padding: 0px;
}
#navbar{
    float: left;
    background-color: cornsilk;
    width: 100%;
    height: 50px;
}

.card{
    float: left;
    width: 30%;
    
}